<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="shortcut icon" href="/upfiles/favicon-ask_1.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="qa_content">
      <div id="top">
        <div id="search">
          <iframe src="https://duckduckgo.com/search.html?site=osqa-ask.wireshark.org&prefill=Search questions using DuckDuckGo&focus=yes" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
      </div>
      <div id="logo">
            <a href="/">
                <img src="/upfiles/wsbadge@186x57.png" title="back to home page" alt="Wireshark Q&amp;A logo">
            </a>
        </div>
      </div>
      <div class="clear"></div>
      <div id="announcement">
      This is a static archive of our old Q&amp;A Site.
      Please post any new questions and answers at <a href="https://ask.wireshark.org/">ask.wireshark.org</a>.
      </div>
      {{ block "main" . }}
      {{ end }}
      {{ block "footer" . }}
      {{ end }}
    </div>
  </body>
</html>
