<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="shortcut icon" href="/upfiles/favicon-ask_1.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="qa_content">
      <div id="announcement">
      This is our old Q&amp;A Site.
      Please post any new questions and answers at <a href="https://ask.wireshark.org/">ask.wireshark.org</a>.
      </div>
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
    </div>
  </body>
</html>
